<div class="container">

    <div class="row"> 
        <div>
          <h1>Sell your book</h1>
        </div>

        <div uib-alert ng-repeat="alert in post.alerts" dismiss-on-timeout=3000 ng-class="'alert-' + (alert.type || 'warning')" close="post.closeAlert($index)">{{alert.msg}}</div>



        <div class="col-sm-12">

            <form class="form" name="form" ng-submit="post.sellBook(form)" novalidate>

                <div class="form-group" ng-class="{ 'has-success': form.title.$valid && post.submitted, 'has-error': form.title.$invalid && post.submitted }">
                  <label>Book title</label>

                  <input type="text" name="title" placeholder="e.g. Introduction to JavaScript Programming with XML and PHP" class="form-control" ng-model="post.title" required/>
                  <p class="help-block" ng-show="form.title.$error.required && post.submitted">
                    A Title is required
                  </p>
                </div>


                <div class="form-group" ng-class="{ 'has-success': form.author.$valid && post.submitted, 'has-error': form.author.$invalid && post.submitted }">
                  <label>Author</label>

                  <input type="text" name="author" placeholder="e.g. Edison Lim" class="form-control" ng-model="post.author" required/>
                  <p class="help-block" ng-show="form.author.$error.required && post.submitted">
                    Author is required. If there is no author, list the publisher instead.
                  </p>
                </div>


                <row>

                <div class="form-group" ng-class="{ 'has-success': form.price.$valid && post.submitted,'has-error': form.price.$invalid && post.submitted }">
                  <label>Price</label>
                  <input type="number" name="price" class="form-control" min="0" max="9999" ng-model="post.price"required/>
                  <p class="help-block" ng-show="form.price.$error.required && post.submitted">
                    A price is required
                  </p>
                  <p class="help-block" ng-show="form.price.$error.number && post.submitted">
                    Price is not valid
                  </p>
                  <p class="help-block" ng-show="form.price.$error.min && post.submitted">
                    Price cannot be less than 0!
                  </p>
                  <p class="help-block" ng-show="form.price.$error.max && post.submitted">
                    Psst. Can you please lower the price of your book?
                  </p>


                </div>

              </row>

                 <div class="form-group" ng-class="{ 'has-success': form.description.$valid && post.submitted,'has-error': form.description.$invalid && post.submitted }">
                  <label>Description</label>
                  <input type="text" name="description" placeholder="e.g. Recommended text for 95-882: Enterprise Web Development" class="form-control" ng-model="post.description"required/>
                  <p class="help-block" ng-show="form.description.$error.required && post.submitted">
                    A description is required
                  </p>
                </div>


                  <div class="row"> 
                    <div class="col-md-2"><br>
                      <span tooltip-placement="right" uib-tooltip="7 = average"><b>Condition:</b></span>
                      <span tooltip-placement="right" uib-tooltip="7 = average" class="glyphicon glyphicon-question-sign"></span>
                    </div>
                    <div class="col-md-6">
                      <h1>
                      <span uib-rating ng-model="post.condition" max="post.max" read-only="isReadonly" on-hover="post.hoveringOver(value)" on-leave="post.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                      </h1>
                    </div>
                    <div class="col-md-4">
                      <br>
                      <span class="label" ng-class="{'label-warning': post.percent<30, 'label-info': post.percent>=30 && post.percent<70, 'label-success': post.percent>=70}" ng-show="post.overStar && !isReadonly">{{post.percent}}%</span>
                    </div>
                  </div>

                <div>
                  <button class="btn btn-primary btn-lg" type="submit">
                    Post Listing
                  </button>
                </div>
            </form>
        </div>
    </div> 



</div> 