<header class="hero-unit" id="banner">
  <div class="container">

    <!--
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">

  -->
    <h2> Your one stop solution to buy and sell textbook </h2>
    <div> 

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <input type="text" name="name" placeholder="Enter book title or ISBN number" class="form-control" ng-model="$ctrl.newThing"/>
        </div>
        <button type="button" ng-click="$ctrl.search()" class="btn btn-default" type="submit">Submit</button>
      </div>

    </div> 
  </div>
</header>

<div class="container"> 
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Search Results:</h1>
      
    </div>
  </div>


</div> 


<!--

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>

</div>

--> 

